<p>list works!</p>

<ul class="list-group">
    <li class="list-group-item" routerLink="fromevent">From Event</li>
    <li class="list-group-item" routerLink="interval">Interval</li>
    <li class="list-group-item" routerLink="fromof">From-Of</li>
    <li class="list-group-item" routerLink="toarray">To Array</li>
    <li class="list-group-item" routerLink="customobservable">Custom Observable</li>
    <li class="list-group-item" routerLink="tap">Tap</li>
    <li class="list-group-item" routerLink="take">Take</li>
    <li class="list-group-item" routerLink="concat">Concat & Merge</li>
    <li class="list-group-item" routerLink="mergemap">Mergemap</li>
    <li class="list-group-item" routerLink="concatmap">Concatmap</li>
    <li class="list-group-item" routerLink="switchmap">Switchmap</li>
    <li class="list-group-item" routerLink="exhustmap">Exhaustmap</li>
    
  </ul>
